.pokemon-card-game {
  display: grid;
  grid-template-areas: "player1 player2";
  grid-gap: 2px;
  padding: 4px;
}

.player {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player h1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.pokemon-cards {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, max-content));
  grid-template-columns: repeat(auto-fit, minmax(1px, 3px)); */
}

.player1 {
  grid-area: player1;
}

.player2 {
  grid-area: player2;
}
